/* ********* */
/* @VARIABLES */
/* ********* */

// Colores
$colores:(
    basicos: (
        blanco: #fff,
        negro: #000,
    ),
    grises: (
        gris1: #d5d5d5,
        gris2: #959595,
        gris3: #3d3d3d,
    )
    fondo: (
        colorFondo: #5d3e75,
    ),
    texo: (
        titulo: #fefbff,
        parrafo: #a286bd,
    ),
    links: (
        base: #f3e38d,
        degradado: #de9675,
    ),
);

// Tipografia
$fuenteBase: 16px;

$fontSize: (
    // SEO
    h1: 3rem,
    h2: 2rem,
    h3: 1.5rem,
    links: 1.5rem,
    // NO SEO
    h4: 1rem,
    parrafo: 1rem,

    h5: 0.75rem,
    h6: 0.5rem,
);

$interlineado: 1.5rem;
